* {margin:0;padding:0;box-sizing:border-box;}

@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);


h1 {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

body {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 30px
	word-spacing: 30px;
}

nav {
	float: left;
	margin-top: 65px;
	margin-left: 20px;
	display: inline block;
	font-size: 20px;
}

nav a {
	margin-right: 10px;
}

.logo {
	float:left;
	margin-left: 20px;
}

.services a {
	margin-top: 30px;
	float:left;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 32%;
	text-align: center;
    }

.flats {
	width: 100%;
	margin-top: 30px;
}

.logo {
	margin-top: 30px;
}

footer {
	margin-top: 20px;
	font-size: 20px;
	display: inline-block;
	float: left;
}

footer a {
	margin-right: 20px;
}

#slogan {
	font-family: 'Fauna One', serif;
	margin-top: 10px;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}

a:link {
    color: #605A5B;
}

a:visited {
    color: #605A5B;
}

a:hover {
    color: aqua;
}