* {margin:0;padding:0;box-sizing:border-box;}

@import url(https://fonts.googleapis.com/css?family=Cardo);

body {
	color: #605A5B;
	font-weight: lighter;
	font-size: 16px;
	font-family: font-family: 'Cardo', serif;
}

#slogan {
	font-style:italic; 
	padding-top: 10px;
	padding-bottom: 10px;
}

#toplinks {
	font-size: 16px;
    word-spacing: 50px;
    padding-top: 20px;
    padding-left:20px;
}

footer {
	font-size: 16px;
    word-spacing: 50px;
}
